.nayana{
    background:url("https://t3.ftcdn.net/jpg/03/24/73/92/240_F_324739203_keeq8udvv0P2h1MLYJ0GLSlTBagoXS48.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.cc{
    font-size:30;
}
.l{
    list-style: none;
    te
}